<% if @cart.any?%>
    <table class="table">
      <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Item price $</th>
      </tr>
      </thead>
      <tbody>
      <% @cart.each do |item| %>
          <tr>
            <td><%=item.product.title %></td>
            <td><%=item.quantity %></td>
            <td><%=item.product.price %></td>
          </tr>
      <% end %>
      <td>Total Price: <%= @order.total_price  %>$</td>
      </tbody>
    </table>

    <%= link_to("Create order", status_path(status: 'Compleate'), method: :patch, class: "btn btn-success") %>


<% else %>
    You cart is empty!
<% end %>