<% provide(:title, "#{current_user.username}'s cart") %>
<% if @cart.any?%>
    <table class="table">
      <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Item unit price $</th>
      </tr>
      </thead>
      <tbody>
      <% @cart.each do |cart| %>

              <% cart.order_items.each do |ord_items|%>
          <tr>
            <td><%=link_to "#{ord_items.product.title}", product_path(ord_items.product) %></td>
            <td><%=ord_items.quantity %></td>
            <td><%=ord_items.fixprice %></td>
          </tr>
      <%end %>
      <td>Total Price: <%=cart.total_price %>$</td>
      <% end %>
      </tbody>
    </table>

    <%= link_to("Submit order", status_path(status: 'In_order'), method: :patch, class: "btn btn-success") %>


<% else %>
    You cart is empty!
<% end %>