<h2><%= @item.title %></h2>

<%= image_tag @item.image.url(:big), class: 'img-show' if @item.image? %>

<h2>Description</h2>
<%= @item.description %>
</br>
prise <%= @item.price %> $

<%= link_to 'Back', "/" %>
