<% provide(:title, "#{@product.title}") %>
<div class="text-center">
<h2 ><%= @product.title %></h2>

<%= image_tag @product.image.url(:large), class: "img-show" if @product.image?  %>

  <h4>description</h4> </br>
<%= @product.description %></br>

Price the <%= @product.title %> -> <%= @product.price %> $
</br>
  <% if user_signed_in? %>
<% if current_user.admin %>
<%= link_to  "Edit #{@product.title}", edit_product_path %>
    <%= link_to "DELETE #{@product.title}", product_path, method: :delete  %>
<% end %>
      <% end %>
</div>