<!DOCTYPE html>
<html>
<head>
  <title> <%= yield(:title) %> </title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<div class="navbar navbar-inverse navbar-fixet-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Logo", "/", class: "navbar-brand"  %>
    </div>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav pull-right">
      <% if user_signed_in? %>
            <% if current_user.admin %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin menu <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><%=link_to "Creat new item", new_product_path %></li>
                    <li><%=link_to "List users", users_path %></li>
                    <li><%=link_to "List orders", orders_path %></li>
                    <li><%=link_to "Todays orders", today_orders_path %></li>
                  </ul>
                </li>
            <% end %>
            <li><%= link_to "Today is #{Date.today.strftime("%a, %e")}, your history orders", order_path(current_user), class: "btn btn-link" %></li>
            <li><%= link_to "Cart", cart_path(current_user), class: "glyphicon glyphicon-shopping-cart btn btn-link"  %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", user_path(current_user) %></li>
              <li><%= link_to "Edit profile", edit_user_registration_path(current_user) %></li>
              <li class="divider"></li>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
            </ul>
            </li>
            <% else %>
            <li><%= link_to "Sign IN", new_user_session_path %></li>
            <li><%= link_to "Sign UP", new_user_registration_path %></li>
            <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid">


<% flash.each do |msg_type, msg| %>
      <div class="alert alert-<%=msg_type %>"><%= msg %></div>
      <% end %>
  <%= yield %>
  <%= debug(params) if Rails.env.development? %>


</div>
</body>
</html>
